.card-container {
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: rgba(187, 161, 161, 0.468);
  border-right: 4px solid rgba(55, 55, 55, 0.742);
  border-bottom: 4px solid rgba(55, 55, 55, 0.742);

  border-radius: 15px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  align-items: center;
}

.card-container:hover {
  transform: scale(1.02);
  background-color: rgba(187, 169, 169, 0.47);
}

.card-background {
  filter: drop-shadow(8px 8px 4px #4444dd);
  transition: filter 0.25s ease-out;
}

.card-background:hover {
  filter: drop-shadow(4px 4px 6px #4444dd);
}

.card-container h2 {
  color: rgba(255, 255, 255, 0.851);
}
.desc {
  text-align: start;
  color: rgba(255, 255, 255, 0.701);
}
